.error {
  border-radius: 1rem;
  width: 40vw;
  height: 20vh;
  margin: 5rem auto 0 auto;
  background-color: #fff;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
