.error {
  border-radius: 1rem;
  width: 40vw;
  height: 20vh;
  margin: 5rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #fff;
  font-size: 26px;
}
